@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #0047AB;
    color: white;
    font-family: "Roboto Mono";
    font-size: 16px;
}

/* Header */

header {
    background-color: #02386E;
    font-size: 1.25rem;
    padding: 20px;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
}

/* Overlay */

.overlay {
    align-items: center;
    background-color: #0F56BA;
    display: none;
    font-size: 2.5rem;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Splash Screen */

.splash-screen {
    align-self: center;
    display: flex;
    text-align: center;
}
.splash-screen h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}
.splash-screen button {
    background-color: #0047AB;
    border: 1px solid white;
    color: white;
    display: block;
    font-size: 1rem;
    margin-bottom: 20px;
    max-width: 200px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}
.splash-screen button:hover {
    background-color: #0F56BA;
    cursor: pointer;
}

.splash-screen__container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Quiz */

.quiz {
    display: none;
    margin: 20px;
    max-width: 800px;
    padding: 20px;
    width: 100%;
}

.question-number {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.quiz__top-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Lifelines */

.lifelines-modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.lifelines-modal__content {
    align-items: center;
    background-color: #0047AB;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    width: 60%;
}
.lifelines-modal__content h2 {
    margin-bottom: 40px;
}

.lifelines-modal__open {
    background-color: #0047AB;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 20px;
    min-width: 150px;
    padding: 10px;
    text-align: center;
}
.lifelines-modal__open:hover {
    background-color: #0F56BA;
    cursor: pointer;
}

.lifelines-modal__close {
    background-color: #D3D3D3;
    border: 1px solid white;
    color: black;
    display: inline-block;
    font-size: 1rem;
    margin: 20px 0;
    min-width: 150px;
    padding: 10px;
    text-align: center;
}
.lifelines-modal__close:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.lifeline {
    background-color: #0047AB;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 20px;
    min-width: 150px;
    padding: 10px;
    text-align: center;
}
.lifeline:hover {
    background-color: #0F56BA;
    cursor: pointer;
}

.question-timer {
    font-size: 1.5rem;
}

.hint {
    color: yellow;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 30px;
}

.option {
    background-color: #0047AB;
    border: 1px solid white;
    color: white;
    display: block;
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}
.option:hover {
    background-color: #0F56BA;
    cursor: pointer;
}

/* Instructions */

.instructions {
    display: none;
    padding: 20px;
}
.instructions h2 {
    margin-bottom: 20px;
}
.instructions p {
    margin-bottom: 20px;
}
.instructions ul {
    margin: 0 0 20px 40px;
}
.instructions button {
    background-color: #0047AB;
    border: 1px solid white;
    color: white;
    display: block;
    font-size: 1rem;
    margin: 40px 0;
    padding: 10px 20px;
    text-align: center;
}
.instructions button:hover {
    background-color: #0F56BA;
    cursor: pointer;
}

/* Game Over */

.game-over {
    display: none;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

.game-over__heading {
    margin-bottom: 20px;
}

.game-over__body {
    padding: 20px;
    text-align: center;
}

.game-over__body p {
    margin-bottom: 20px;
}

.game-over button {
    background-color: #0047AB;
    border: 1px solid white;
    color: white;
    display: block;
    font-size: 1rem;
    margin: 40px auto;
    padding: 10px 20px;
    text-align: center;
}
.game-over button:hover {
    background-color: #0F56BA;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #02386E;
    flex-shrink: 0;
    font-size: 0.8rem;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
}

.footer-section {
    margin-bottom: 30px;
}

.footer-section-heading {
    color: #00BFFF;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a {
    color: white;
    text-decoration: none;
}
.footer-section ul li a:hover {
    color: #00BFFF;
}

/* Media Queries */

@media only screen and (min-width: 360px) {
    header {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    footer {
        font-size: 0.75rem;
    }

    .footer-container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 800px) {
    html {
        font-size: 20px;
    }

    header {
        font-size: 1.5rem;
    }

    .overlay {
        font-size: 4rem;
    }

    footer {
        font-size: 0.6rem;
    }

    .footer-section-heading {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 24px;
    }

    footer {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 1300px) {
    html {
        font-size: 26px;
    }
}

@media only screen and (min-width: 1900px) {
    html {
        font-size: 28px;
    }
}